n8n-workflow-basic.json
{
  "name": "Smart Task Manager - Basic Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smart-task-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "smart-task-sync"
    },
    {
      "parameters": {
        "jsCode": "// Extract task data from webhook\nconst tasks = $input.item.json.tasks || [];\nconst totalTasks = tasks.length;\n\n// Mark all tasks as synced and prepare response\nconst updatedTasks = tasks.map(task => ({\n  id: task.id,\n  title: task.title,\n  status: 'Synced',\n  priority: task.priority\n}));\n\n// Return response for frontend\nreturn {\n  message: `Successfully synced ${totalTasks} task(s)`,\n  updatedTasks: updatedTasks,\n  lastSync: new Date().toISOString(),\n  totalProcessed: totalTasks\n};"
      },
      "id": "process-tasks",
      "name": "Process Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tasks": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "smart-task-manager"
    }
  ],
  "meta": {
    "instanceId": "example"
  }
}

